<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@appcominteractive/cordova-plugin-hot-reload" version="0.2.4">
    <name>@appcominteractive/cordova-plugin-hot-reload</name>
    <description>Cordova Hot-Reload-Plugin</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <hook src="hooks/prebuild_config.js" type="before_build"/>
    <hook src="hooks/serve_config.js" type="before_run"/>
</plugin>
